<div class="row">
    <div class="span0 well text-center">
      <span id='place_<%= place.id %>_status'>
      <% case place.latest_measurement %>
        <% when PlaceStatistic.measurements.key(0) %>
        <i class="icon-star-empty"></i>
        <% when PlaceStatistic.measurements.key(1) %>
        <i class="icon-star"></i>
        <% when PlaceStatistic.measurements.key(2) %>
        <i class="icon-user"></i>
        <% when PlaceStatistic.measurements.key(3) %>
        <i class="icon-road"></i>
        <% else  %>
        <i class="icon-star-empty"></i>
      <% end %>
        <%# TODO this logic should be moved to a helper %>
      </span> 
      <br/>
    </div>
    <div class='span8 well'>
      <h4><%= link_to place.name, place_path(place) %></h4>
      <p><%= place.address %></p>
      <%= render 'shared/latest_time_measurement', last_updated: place.latest_statistic.nil? ? nil : place.latest_statistic.created_at %>
    </div>
  </div>
