<ul class='nav'>
  <li><%= link_to "Save My Seat!", root_path, class: 'brand '%></li>
</ul>
<div class='btn-group nav_item'>
  <button class="btn btn-default dropdown-toggle" type="button" id="categoryMenu" data-toggle="dropdown" aria-expanded="true">
    Categories
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="categoryMenu">
    <li role="presentation">Test</li>
  </ul>
</div>

<div class='nav_item'>
    <%= link_to 'Register', "#", class: 'btn btn-success btn-small' %>
  </div>
  <div class='nav_item' >
    <%= link_to 'Login', "#", class: 'btn btn-small' %>
  </div>

  
  
  

  
  


